flask==2.0.3
Jinja2==3.0.3
MarkupSafe==2.1.0
Werkzeug==2.0.3
click==8.0.3
colorama==0.4.4
itsdangerous==2.1.0
numpy==1.22.2
pandas==1.4.1
matplotlib==3.5.1
mpld3==0.5.7
yfinance==0.1.70 --install-option='--no-cache-dir'
flask-wtf==1.0.0
ffmpeg==1.4

