<!DOCTYPE html>
<html lang="en">
{% from "form_macros.html" import render_field %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"> 
<!--        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.min.css') }}">-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css"
            integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd"
            crossorigin="anonymous">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css" />

    <title>{% block title %} {% endblock %}</title>

</head>

<body>
<div>

    <header>

        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">

            <a class="pure-menu-heading" href="{{ url_for('main.index') }}"> Home </a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item "><a href = "{{url_for('simulate.simulate') }}" class="pure-menu-link"> Monte Carlo Simulator </a></li>
                <li class="pure-menu-item "><a href = "" class="pure-menu-link"> Machine Learning Simulator (Coming Soon) </a></li>
            </ul>
        </div>
    </header>
        <br/><br/>

    <div class="main-container" >
        <div class="main wrapper clearfix">

            {%  block content %}


            {%  endblock %}

        </div> <!-- #main -->
    </div> <!-- #main-container -->
    </div>
</div>

<br/> <br/> <br/>

{% block footer %}
        <div class="footer l-box is-center">
            <footer class="wrapper">
            Edwin Baeza
            </footer>
        </div>

{% endblock %}

<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>

{% block scripts %}


{% endblock %}

</body>
 


</html>